<!-- Updates Sub Page -->
<div class="tab-pane">

  <div>
    <!-- Action Menu -->
    <section class="row justify-content-between align-items-center mb-3">
      <div class="col-md-4">
        <a
        class="btn btn-link"
        role="button"
        >
          <strong class="text-muted">
            5 Güncelleme Mevcut
          </strong>
        </a>
      </div>
      <div class="col text-right">
        <button class="btn btn-secondary" type="button">
          <i aria-hidden="true" class="fa fa-download fa-fw"></i>
          <span class="d-md-inline d-none">Tümünü Kur</span>
        </button>      
        <button class="btn btn-primary" type="button" 
          href="#availableUpdates"
          data-toggle="collapse"
          aria-controls="availableUpdates">
          <i aria-hidden="true" class="fa fa-sync"></i>
          <br>
        </button>
      </div>
    </section>

    <!-- Available Updates -->
    <div class="card">
      <div class="card-body position-relative">
        <span class="notification"></span>
        <h5 class="card-title">
          Platform Güncellemesi Mevcut:
          <a href="#">Pano 1.2</a>
        </h5>
        <h6 class="text-muted font-weight-normal">
          Yayınlanma Tarihi:
          <b>01.01.2019</b>
        </h6>
        <h6 class="text-muted font-weight-normal">
          Dosya Boyutu:
          <b>5 MB.</b>
        </h6>
        <p>
          Pano'nun altyapısını sağlayan çekirdek sistemlerin yeni özelliklerini
          ve mevcut özelliklerinin iyileştirmesini sağlayan önemli
          güncellemelerdir.
        </p>
        <button class="btn btn-secondary" type="button">
          <i aria-hidden="true" class="fa fa-download fa-fw"></i>
          Kur
        </button>
        <button class="btn btn-outline-primary" type="button">
          <i class="fas fa-external-link-alt fa-fw"></i>
          Değişiklikler
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body position-relative">
        <span class="notification"></span>
        <h5 class="card-title">
          Eklenti Güncellemesi Mevcut:
          <a href="#">Sayfalar 1.1</a>
        </h5>
        <h6 class="text-muted font-weight-normal">
          Yayınlanma Tarihi:
          <b>01.01.2019</b>
        </h6>
        <h6 class="text-muted font-weight-normal">
          Dosya Boyutu:
          <b>5 MB.</b>
        </h6>
        <button class="btn btn-secondary" type="button">
          <i aria-hidden="true" class="fa fa-download fa-fw"></i>
          Kur
        </button>
        <button class="btn btn-outline-primary" type="button">
          <i class="fas fa-external-link-alt fa-fw"></i>
          Değişiklikler
        </button>
      </div>
    </div>
  </div>
</div>
