<!-- Player Page -->

<div class="content">
  <!-- Action Menu -->
  <div class="row mb-3">
    <div class="col-md-4 col-6">
      <router-link
        class="btn btn-outline-primary"
        role="button"
        to="/panel/players"
      >
        <i aria-hidden="true" class="fa fa-arrow-left fa-fw"></i>
        <span class="d-md-inline d-none">Tüm Oyuncular</span>
      </router-link>
    </div>
    <div class="col text-right">
      <div class="dropdown d-inline-block">
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-danger dropdown-toggle"
          data-toggle="dropdown"
          id="banActions"
          type="button"
        >
          <i aria-hidden="true" class="fa fa-times fa-fw"></i>
          Yasakla
        </button>
        <div aria-labelledby="banActions" class="dropdown-menu">
          <a
            class="dropdown-item"
            data-target="#conformBanTickets"
            data-toggle="modal"
            href="javascript:void(0);"
          >
            <i aria-hidden="true" class="fa fa-times fa-fw text-danger"></i>
            Taleplerini Yasakla
          </a>
          <a class="dropdown-item" href="#">
            <i aria-hidden="true" class="fa fa-check fa-fw text-success"></i>
            Taleplerine İzin Ver
          </a>
        </div>
      </div>
      <button class="btn btn-primary" type="button">
        <i aria-hidden="true" class="fa fa-user-tag fa-fw"></i>
        <span class="d-md-inline d-none">Yetkilendir</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div
          class="card-body d-flex flex-column justify-content-center align-items-center"
        >
          <img
            alt="Username"
            class="mb-3 rounded-circle border border-lg p-1"
            height="100"
            src="https://minotar.net/avatar/e5eea5f735c444a28af9b2c867ade454/64"
            width="100"
          />
          <h4 class="card-title">Butlu</h4>
          <div class="form-group pt-2">
            <span class="text-muted">
              <i aria-hidden="true" class="fa fa-times fa-fw text-danger"></i>
              Talepleri Yasaklı
            </span>
            <br />
            <hr />
            <span class="text-muted" title="Kayıt Tarihi">
              <i
                aria-hidden="true"
                class="far fa-address-book fa-fw text-primary"
              ></i>
              1 Ocak 2018 01.01
            </span>
          </div>

          <p
            class="text-center rounded bg-success text-white mb-0 w-100"
            v-tooltip:top="'Sitede'"
          >
            <i aria-hidden="true" class="fa fa-globe"></i>
            Çevrimiçi
          </p>
          <p class="text-center rounded border mb-0 w-100">
            <i aria-hidden="true" class="fa fa-globe"></i>
            Çevrimdışı
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <!-- User's Tickets -->
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-between pb-2">
            <div class="col-md-6 col-12 text-md-left text-center">
              <h5 class="card-title">
                <i
                  aria-hidden="true"
                  class="fa fa-ticket-alt fa-fw text-primary"
                ></i>
                Butlu kullanıcısından 0 Talep -
                <span class="text-primary">1/1</span>
                :
              </h5>
            </div>
            <div class="col-md-6 col-12 text-md-right text-center">
              <div class="btn-group">
                <router-link
                  class="btn btn-sm btn-outline-light btn-link active"
                  role="button"
                  to="/panel/tickets/all"
                >
                  Tümü
                </router-link>
                <router-link
                  class="btn btn-sm btn-outline-light btn-link"
                  role="button"
                  to="/panel/tickets/waitingReply"
                >
                  Yanıtlanmadı
                </router-link>
                <router-link
                  class="btn btn-sm btn-outline-light btn-link text-danger"
                  role="button"
                  to="/panel/tickets/closed"
                >
                  Kapalı
                </router-link>
              </div>
            </div>
          </div>

          <!-- No Players -->
          <div class="container text-center d-block">
            <i
              aria-hidden="true"
              class="fa fa-ticket-alt fa-4x text-glass m-3"
            ></i>
            <p class="text-gray">Burada gösterilecek içerik yok.</p>
          </div>

          <!-- Ticket Info -->
          <div class="alert alert-warning shadow-sm">
            <div class="row">
              <div class="col-8">
                <img
                  class="img-fluid mr-3 rounded border float-left"
                  src="https://www.gravatar.com/avatar/"
                  width="48"
                />
                <h5 class="text-dark mb-0 pb-1">
                  <router-link class="text-primary" to="/">#4513</router-link>
                  Bu bir talep konusu
                </h5>
                <span class="text-muted">
                  17 saat önce
                  <a href="#">Butlu</a>
                  tarafından
                  <a href="#">Genel</a>
                  kategorisine açıldı.
                </span>
              </div>

              <div class="col-4 text-right">
                <p
                  class="text-dark text-center rounded bg-warning border mb-1 d-inline-block px-3"
                >
                  Yanıtlanmadı
                </p>
                <br />
                <span class="text-muted d-inline-block">
                  <i aria-hidden="true" class="far fa-clock fa-fw"></i>
                  <span class="d-md-inline d-none">Son cevap:</span>
                  1 dakika önce.
                </span>
              </div>
            </div>
          </div>

          <!-- Ticket Info -->
          <div class="alert alert-warning shadow-sm">
            <div class="row">
              <div class="col-8">
                <img
                  class="img-fluid mr-3 rounded border float-left"
                  src="https://www.gravatar.com/avatar/"
                  width="48"
                />
                <h5 class="text-dark mb-0 pb-1">
                  <router-link class="text-primary" to="/">#4513</router-link>
                  Bu bir talep konusu
                </h5>
                <span class="text-muted">
                  17 saat önce
                  <a href="#">Butlu</a>
                  tarafından
                  <a href="#">Genel</a>
                  kategorisine açıldı.
                </span>
              </div>

              <div class="col-4 text-right">
                <p
                  class="text-dark text-center rounded bg-warning border mb-1 d-inline-block px-3"
                >
                  Yanıtlanmadı
                </p>
                <br />
                <span class="text-muted d-inline-block">
                  <i aria-hidden="true" class="far fa-clock fa-fw"></i>
                  <span class="d-md-inline d-none">Son cevap:</span>
                  1 dakika önce.
                </span>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <nav class="pt-3">
            <ul class="pagination pagination-sm mb-0 justify-content-start">
              <li class="page-item">
                <a
                  class="page-link"
                  href="javascript:void(0);"
                  title="Önceki Sayfa"
                >
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <li class="page-item">
                <a class="page-link">1</a>
              </li>

              <li class="page-item">
                <a
                  class="page-link"
                  href="javascript:void(0);"
                  title="Sonraki Sayfa"
                >
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Ban User Tickets Modal -->
  <div
    aria-hidden="true"
    class="modal fade"
    id="conformBanTickets"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered" role="dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="pb-3">
            <i
              aria-hidden="true"
              class="fa fa-question-circle fa-4x d-block m-auto text-gray"
            ></i>
          </div>
          <span>
            Bu kullanıcının taleplerini gerçekten yasaklamak istiyor musunuz?
          </span>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-outline-primary w-100"
            data-dismiss="modal"
            type="button"
          >
            Hayır
          </button>
          <button class="btn btn-danger w-100" type="button">
            Evet
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
