<!-- Settings Page -->
<div>

  <!-- Settings Categories Navigation -->
  <nav class="border-bottom border-glass page-category">
    <div class="nav nav-pills font-weight-normal d-flex justify-content-center flex-row w-100">
      <router-link :class="{ 'active': currentActiveNavLink === 1 }" class="nav-item nav-link" to="/panel/settings">
        Genel
      </router-link>
      <router-link :class="{ 'active': currentActiveNavLink === 2 }" class="nav-item nav-link"
        to="/panel/settings/site-settings">
        Website
      </router-link>
      <router-link :class="{ 'active': currentActiveNavLink === 3 }"
        class="nav-item nav-link ml-sm-auto position-relative" to="/panel/settings/updates">
        Güncellemeler
        <span class="notification"></span>
      </router-link>
      <router-link :class="{ 'active': currentActiveNavLink === 4 }" class="nav-item nav-link"
        to="/panel/settings/about">
        Hakkında
      </router-link>
    </div>
  </nav>

  <!-- Settings Contents -->
  <article class="content">
    <router-view></router-view>
  </article>

</div>