<!-- Top Navbar -->
<nav
  class="navbar navbar-expand navbar-light bg-white sticky-top border-bottom"
>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item mr-3">
      <a
        @click="onSideBarCollapseClick"
        class="icon-link nav-link"
        href="javascript:void(0);"
        title="Menüyü Aç/Kapa"
      >
        <i aria-hidden="true" class="fa fa-bars"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        target="_blank"
        class="btn btn-link border-lightprimary text-secondary"
      >
        <i class="fa fa-store fa-fw d-lg-none d-inline"></i>
        <span class="d-lg-inline d-none">Web Market</span>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav m-auto">
    <div class="navbar-brand">
      <span class="font-weight-normal">Panel</span>
    </div>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a
        class="icon-link nav-link position-relative"
        data-toggle="dropdown"
        href="javascript:void(0);"
        role="button"
        title="Bildirimler"
      >
        <div class="notification"></div>
        <i aria-hidden="true" class="far fa-bell"></i>
      </a>
      <div
        class="dropdown-menu animated fadeIn faster dropdown-menu-right notifications"
      >
        <h6 class="dropdown-header">
          Bildirimler (8)
          <a class="float-right" href="javascript:void(0);" title="Tümünü Oku">
            Tümünü Oku
          </a>
        </h6>

        <router-link
          class="dropdown-item d-flex w-100 justify-content-between border-bottom py-3 bg-lightprimary"
          to="#"
        >
          <h6 class="text-muted m-0 text-wrap d-inline">
            <i class="far fa-dot-circle fa-fw text-primary"></i>
            Yeni platform bağlantısı isteği (#1111)
          </h6>
          <small class="text-muted text-right font-weight-lighter">
            15 dk
          </small>
        </router-link>
        <router-link
          class="dropdown-item d-flex w-100 justify-content-between border-bottom py-3"
          to="#"
        >
          <h6 class="text-muted m-0 text-wrap d-inline">
            <i class="far fa-dot-circle fa-fw text-primary"></i>
            Yeni platform bağlantısı isteği (#1111)
          </h6>
          <small class="text-muted text-right font-weight-lighter">
            15 dk
          </small>
        </router-link>

        <div
          class="d-flex flex-column align-items-center justify-content-center"
          v-if="quickNotifications.length === 0"
        >
          <i aria-hidden="true" class="far fa-bell fa-3x text-glass m-3"></i>
          <p class="text-gray">Yeni bildirim yok.</p>
        </div>

        <router-link
          class="dropdown-item text-primary text-center small pt-2"
          to="/panel/notifications"
        >
          Bildirim Geçmişini Görüntüle
        </router-link>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        aria-expanded="false"
        aria-haspopup="true"
        class="icon-link nav-link text-capitalize"
        data-toggle="dropdown"
        href="javascript:void(0);"
        title="Oturum"
      >
        <i class="far fa-user fa-fw" aria-hidden="true"></i>
        <span class="d-lg-inline d-none">{{ username }}</span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right animated fadeIn faster notifications"
      >
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-user-cog fa-fw" aria-hidden="true"></i>
              Hesabı Yönet
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
              Yönetici Ekle
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="#">
              <i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i>
              Çıkış Yap
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
