<!-- 404 Page  -->
<div class="content">
  <div
    class="d-flex flex-column align-items-center justify-content-center mt-5 container animated bounceInDown"
  >
    <img
      alt="Hata: 404"
      class="img-fluid mb-3"
      src="/panel/assets/img/404.png"
      width="280"
    />
    <div class="card-body bg-lightprimary rounded">
      <h2 class="text-primary">Hata: 404</h2>
      <h3>Oops!</h3>
      <p class="text-muted">
        Yaramaz Enderman, bu sayfanın yüklenmesini engelledi.
      </p>
      <router-link class="btn btn-primary" role="button" to="./">
        <i aria-hidden="true" class="fa fa-arrow-left fa-fw"></i>
        Geri Git
      </router-link>
    </div>
  </div>
</div>
